#
# = Class: [% name %]
#
# Class to install [% name %].
#
# == Parameters
# <tt>package</tt>:: Name of the package that provides [% name %]. If
#                    <code>false</code>, no package installation will be
#                    attempted.
#
class [% name %] (
    $package = undef,
) inherits ::[% name %]::params {
    class {
        '::[% name %]::install':
            package => $package,
        ;
    }
}
